/* Stylesheet for John Dick's portfolio page */

/* Setting the default global styles across the page */

/* color variables

/* fonts to be used */

/* From fontshare - Gambarino

/* From Google fonts - Manrope */

@font-face {
  font-family: "Gambarino-Regular";
  src: url("../fonts/gambarino/Gambarino-Regular.woff2") format("woff2"),
    url("../fonts/gambarino/Gambarino-Regular.woff") format("woff"),
    url("../fonts/gambarino/Gambarino-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambarino-Regular";
  src: url("../fonts/gambarino/Gambarino-Regular.woff2") format("woff2"),
    url("../fonts/gambarino/Gambarino-Regular.woff") format("woff"),
    url("../fonts/gambarino/Gambarino-Regular.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

/* Question > will this pick up 500 font-weight? */
/* Question > what are the other font files about? */

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/jet/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: regular;
}

:root {
  font-size: 16px;
  background: rgba(235, 235, 235, 1);
  /* resetting everything in the browser */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Gambarino-Regular", sans-serif;
  font-size: 9rem;
  font-weight: 400;
  line-height: 9.875rem;
}

h2,
.hero-subtitle {
  font-family: "Gambarino-Regular", sans-serif;
  font-size: 3.8125rem;
  font-weight: 500;
  line-height: 4.1875rem;
  padding-bottom: 1.2rem;
}

.hero-text {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

/* check if this is being used */

h3 {
  font-family: "Cardo", serif;
  font-size: 2rem;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 0 0.6rem 0 0.6rem;
  /*border: black 1px solid;*/
}

.top-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7.5rem;
  justify-content: space-between;
}

.profile-pic {
  width: 9rem;
  height: 9rem;
  border: rgba(102, 102, 102, 1) 2px solid;
  border-radius: 50%;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  /*border: black 1px solid;*/
  position: relative;
}

/* add in a pseudo selector */

.hero-icon::after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(./img/code.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: -1.3rem;
  left: 36rem;
}

.hero .title-blue {
  color: rgba(20, 110, 246, 1);
}

.hero-cta {
  margin-top: 2.5rem;
  margin-bottom: 7rem;
}

.contact-btn {
  background-color: rgba(20, 110, 246, 1);
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 12px 32px 12px 32px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: orange;
  color: white;
  padding: 12px 32px 12px 32px;
  border-radius: 12px;
}

.contact-btn:active {
  color: rgba(20, 110, 246, 1);
}

/* -- CSS for the work-display grid --*/

.work h2 {
  font-size: 3rem;
  line-height: 3.3125rem;
}

/* grid container */

.work-display {
  margin-top: 1.55rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.work-card {
  background-color: rgba(224, 224, 224, 1);
  border-radius: 10px;
  padding: 2rem;
}

.work-content {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.work-img {
  width: 100%;
  height: 60%;
  border-radius: 5px;
}

.work-explanation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.work-tag {
  background-color: black;
  color: white;
  border-radius: 4px;
  font-family: "JetBrainsMono", monospace;
  font-size: 0.825rem;
  padding: 0.3rem;
}

.tag-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

/* set the right font to the work description paragraphs */

.work-description {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}

/* Here is the CSS for the About me section */

/* sets the section gap - need to check if I am consistently spacing the sections out & with I am using margin top for new section or margin bottom for old section */

.about-me {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.about-me-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.about-me-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 0.5rem;
}

.about-me-wrap h2 {
  font-size: 3rem;
  line-height: 3.3125rem;
}

.about-summary {
  width: 80%;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.about-detail {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Puts skill-wrap on bottom of grid reference */

/* controls the vertical placement and is aligned to the bottom of the grid   */

.skill-wrap {
  align-self: end;
  /* border: black 1px solid;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Holds the line of each skills and enables control of each skills line      */

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Each skills line will be converted into flex to get the items into a row. */

.skills-line {
  display: flex;
}

.work-tag {
  margin-right: 0.3125rem;
}

/* CSS for the mission section */

.mission {
  margin-bottom: 7rem;
}

.mission-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.mission-text h2 {
  font-size: 3.81rem;
  line-height: 3.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.mission-details {
  margin-bottom: 2rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.mission-visual {
  padding: 1rem;
}

.mission-img {
  width: 100%;
  height: 100%;
}

/* CSS for the footer section */

.blue-footer {
  background-color: rgba(191, 207, 233, 1);
}

.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}

.footer-links:link {
  text-decoration: none;
  cursor: pointer;
}

.version {
  font-family: "Jet Brains Mono", monospace;
  padding-bottom: 1rem;
  font-size: 0.75rem;
}

/* Media queries to make the site responsive */

/* 1024 */

@media screen and (max-width: 1024px) {
  /* Make the top banner responsive   */

  h1 {
    font-size: 7.6857rem;
    line-height: 8.4375rem;
  }

  .container {
    max-width: 61.875rem;
  }

  .profile-pic {
    width: 7rem;
    height: 7rem;
  }

  .hero {
    margin-top: 2.7rem;
  }
}

/* 768 */

@media screen and (max-width: 768px) {
  /* Make the top banner responsive   */

  h1 {
    font-size: 5.75rem;
    line-height: 6.3125rem;
  }

  .container {
    max-width: 46.875rem;
  }

  .profile-pic {
    width: 6rem;
    height: 6rem;
  }

  h2,
  .hero-subtitle {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .hero {
    margin-top: 2.9rem;
  }

  .hero-icon::after {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(./img/code.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: -1.3rem;
    left: 24rem;
  }

  /* My work section */

  .work h2 {
    font-size: 2rem;
    line-height: 2.1875rem;
  }

  .work-display {
    margin-top: 1.55rem;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .tag-container .work-tag {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    padding: 0.2rem;
  }

  /* about me */

  .about-me-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .about-me-wrap h2 {
    font-size: 2rem;
    line-height: 2.1875rem;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3125rem;
  }

  .skills-line {
    /* border: black 1px solid;*/
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
  }

  .work-tag {
    margin-right: 0.9rem;
  }

  .work-tag {
    font-size: 1rem;
    padding: 0.9rem;
  }

  /* CSS for the mission section */

  .mission-text h2 {
    font-size: 3.1875rem;
    line-height: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .mission-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .mission-text h2 {
    font-size: 3.1875rem;
    line-height: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  /* Reverse the order of the grid */

  .mission-visual {
    grid-row: 1/2;
    padding: 1rem 1rem 1rem 0;
  }

  .mission-text {
    grid-row: 2/3;
  }
}

/* 480 */

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.125rem;
  }

  .container {
    max-width: 30rem;
  }

  .top-banner {
    margin-top: 4rem;
  }

  .profile-pic {
    width: 5rem;
    height: 5rem;
  }

  h2,
  .hero-subtitle {
    padding-bottom: 0.4rem;
  }

  .mission-text h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

/*

@media screen and (max-width: 480px) {
  /* Make the top banner responsive

  h1 {
    font-size: 2rem;
    line-height: 4.3125rem;
  }

  .top-banner {
    padding: 0 0 30px 5px;
  }

  h2,
  .hero-subtitle {
    font-size: 1.5rem;
  }

  .profile-pic {
    width: 4rem;
    height: 4rem;
  }

  .hero-text {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}
*/
